

<meta id="_moz_html_fragment">


<h2 style="color: rgb(92, 92, 92); font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 18px; margin-left: 40px;">Contact Details</h2><p style="margin-left: 40px;">&nbsp;</p>
<center style="margin: 0px; padding: 0px; color: rgb(92, 92, 92); font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 18px; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; background-color: rgb(255, 255, 255);">
<table id="dnn_ctr1654_Default_List_grdData" style="border-width: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif; color: rgb(0, 0, 0); font-size: 11px; text-align: left; border-collapse: collapse; width: 100%; margin-left: 40px;">
<tbody>
<tr class="NormalBold UDT_Table_Head" style="font-size: 1em; font-weight: bold;">
<th style="vertical-align: baseline;" scope="col"><a style="color: rgb(167, 14, 21);">Name</a></th>
<th style="vertical-align: baseline;" scope="col"><a style="color: rgb(167, 14, 21);">Position</a></th>
<th style="vertical-align: baseline;" scope="col"><a style="color: rgb(167, 14, 21);">email</a></th>
<th style="vertical-align: baseline;" scope="col"><a style="color: rgb(167, 14, 21);">Website</a></th>
<th style="vertical-align: baseline;" scope="col"><a style="color: rgb(167, 14, 21);">Business Address</a></th>
</tr>
<tr class="Normal UDT_Table_Item" style="font-size: 1em;">
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;">Richard
Gush</td>
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;">managing
director</td>
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;"><a href="mailto:richardgush@methvin.org">richard.gush@methvin.org</a></td>
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;"><a href="http://www.Methvin.org">http://www.Methvin.org</a></td>
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;">318
Cherry St, Collage Station, Texas</td>
</tr>
<tr class="Normal UDT_Table_AlternateItem" style="font-size: 1em;">
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;">Craig
Rogerson</td>
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;">financial
director</td>
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;"><a href="mailto:craigrogerson@methvin.org">craig.rogerson@</a><a style="font-family: Verdana,Geneva,Tahoma,sans-serif; font-size: 11px; line-height: normal;" href="mailto:richardgush@methvin.org">methvin.org</a></td>
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;"><a href="http://www.Methvin.org">http://www.Methvin.org</a></td>
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;"><span style="color: rgb(0, 0, 0); font-family: Verdana,Geneva,Tahoma,sans-serif; font-size: 11px; line-height: normal;">318
Cherry St, Collage Station, Texas</span></td>
</tr>
<tr class="Normal UDT_Table_Item" style="font-size: 1em;">
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;">Owen
Grant</td>
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;">customer
service&nbsp;</td>
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;"><a href="mailto:owengush@methvin.org">owen.grant@</a><a style="font-family: Verdana,Geneva,Tahoma,sans-serif; font-size: 11px; line-height: normal;" href="mailto:richardgush@methvin.org">methvin.org</a></td>
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;"><a href="http://www.Methvin.org">http://www.Methvin.org</a></td>
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;"><span style="color: rgb(0, 0, 0); font-family: Verdana,Geneva,Tahoma,sans-serif; font-size: 11px; line-height: normal;">318
Cherry St, Collage Station, Texas</span></td>
</tr>
<tr class="Normal UDT_Table_AlternateItem" style="font-size: 1em;">
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;">Barry
Rogers</td>
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;">software
designer</td>
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;"><a href="mailto:barryrogers@methvin.org">barry.rogers@</a><a style="font-family: Verdana,Geneva,Tahoma,sans-serif; font-size: 11px; line-height: normal;" href="mailto:richardgush@methvin.org">methvin.org</a></td>
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;"><a href="http://www.Methvin.org">http://www.Methvin.org</a></td>
<td style="margin: 0px; font-family: Verdana,Geneva,Tahoma,sans-serif;"><span style="color: rgb(0, 0, 0); font-family: Verdana,Geneva,Tahoma,sans-serif; font-size: 11px; line-height: normal;">318
Cherry St, Collage Station, Texas</span></td>
</tr>
</tbody>
</table>
<p style="margin-left: 40px;">&nbsp;</p>
<h2 style="text-align: left; margin-left: 40px;">About Us</h2>
<p style="margin-left: 40px;">&nbsp;</p>
<p style="text-align: left; margin-left: 40px;">Methvin's&nbsp;evolution
is rooted in our commitment to offer only
the most functional, flexible and easy to use Web-based estimating and
bidding solution since 2002. Three years ago, we began an extensive
redevelopment effort of methvin, to engineer the existing application
using the latest Java technology.</p>
<div style="text-align: left; margin-left: 40px;"></div>
<p style="text-align: left; margin-left: 40px;">In today?s fast-paced,
competitive bidding environment, successful
companies need innovative tools for forecasting profit and quickly
generating quality cost estimates and winning bids. Over 500
professionals from leading infrastructure companies throughout the U.S.
and Canada New Zealand have chosen Methvin as their solution for
winning more profitable bids.</p><p style="text-align: left; margin-left: 40px;"><br></p><h2 style="text-align: left; margin-left: 40px;">Address</h2><div><br></div>
<div style="text-align: center;"><iframe src="https://www.google.com/maps/embed?pb=%211m18%211m12%211m3%211d3433.4653481486234%212d-96.34901360000002%213d30.62084029999996%212m3%211f0%212f0%213f0%213m2%211i1024%212i768%214f13.1%213m3%211m2%211s0x864683beabc329d5%3A0xeaa48c16a8fd45be%212s318+Cherry+St%215e0%213m2%211sen%212sus%214v1398499490068" style="border-width: 0px; font-family: Helvetica; font-size: 12px;" frameborder="0" height="600" width="1200"></iframe></div>
</center>


