<title></title>
<title>design</title>
<p style="font-size: 13px; color: rgb(0, 0, 0); font-family: helvetica, arial, verdana, sans-serif;">&nbsp;</p>
<center style="margin: 0px; padding: 0px; text-indent: 0px; background-color: rgb(255, 255, 255);">
<p style="font-size: 13px; color: rgb(0, 0, 0); font-family: helvetica, arial, verdana, sans-serif; text-align: center;"><font face="verdana, geneva" size="6"><span style="line-height: 18px;">Methvin
is an online procurement and estimating portal</span></font><br>
</p>
<p style="font-size: 13px; color: rgb(0, 0, 0); font-family: helvetica, arial, verdana, sans-serif; text-align: center;"><font color="#5c5c5c" face="verdana, geneva" size="5"><span style="line-height: 18px;">Designed and developed to be intuitive and
user friendly.</span></font><br>
</p>
<p style="color: rgb(92, 92, 92); font-family: Verdana, Arial, Helvetica, sans-serif; text-align: center; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 18px; text-transform: none; white-space: normal; word-spacing: 0px; width: 80%;"><font size="3">Methvin
is a project management and estimation tool designed for the
construction industry. It will make your life considerably easier;
estimating projects, publishing tenders and producing comparisons, and
helping to find potential business opportunities.</font></p>
<p style="font-size: 13px; color: rgb(92, 92, 92); font-family: Verdana, Arial, Helvetica, sans-serif; text-align: center; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 18px; text-transform: none; white-space: normal; word-spacing: 0px; width: 80%;"><br>
</p>
<p style="font-size: 13px; color: rgb(0, 0, 0); font-family: helvetica, arial, verdana, sans-serif;">
<object data="https://www.youtube.com/v/gOqtHPJ14Jk?controls=0&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;autohide=1&amp;theme=light&amp;version=3" type="application/x-shockwave-flash" style="display: block; margin-left: auto; margin-right: auto;" height="225" width="400"><param name="movie" value="https://www.youtube.com/v/gOqtHPJ14Jk?controls=0&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;autohide=1&amp;theme=light&amp;version=3"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"></object></p>
<p style="font-size: 13px; color: rgb(0, 0, 0); font-family: helvetica, arial, verdana, sans-serif;"><br>
</p>
<p style="font-size: 13px; color: rgb(0, 0, 0); font-family: helvetica, arial, verdana, sans-serif; text-align: center;"><font face="verdana, geneva" size="6"><span style="line-height: 18px;">Your
online estimating application</span></font><br>
</p>
<p style="font-size: 13px; color: rgb(0, 0, 0); font-family: helvetica, arial, verdana, sans-serif; text-align: center;"><font color="#5c5c5c" face="verdana, geneva" size="5"><span style="line-height: 18px;">Good software supports your workflow. Great
software improves it.</span></font><br>
</p>
<p style="color: rgb(92, 92, 92); font-family: Verdana, Arial, Helvetica, sans-serif; text-align: center; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 18px; text-transform: none; white-space: normal; word-spacing: 0px; width: 80%;"><font size="3">In
today's competitive estimating environment, "Methvin Estimating
Software" allows you to quickly and accurately generate quality cost
estimates and winning bids.</font></p>
<p style="color: rgb(92, 92, 92); font-family: Verdana, Arial, Helvetica, sans-serif; text-align: center; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 18px; text-transform: none; white-space: normal; word-spacing: 0px; width: 80%;"><font size="3">This
estimation advantage is made possible by allowing you to link
worksheets to multiple tasks, set variables and to break tasks into sub
schedules for fast accurate pricing. Making your workflow more
efficient and improve your margin analysis.</font></p>
<font size="2"><img src="files/6.jpg" alt="?Online" tender="" portal="" height="200"></font><span style="font-size: 24pt; font-family: verdana, geneva; line-height: 18px;">&nbsp;</span>
<p style="font-size: 13px; color: rgb(0, 0, 0); font-family: helvetica, arial, verdana, sans-serif; text-align: center;"><font face="verdana, geneva" size="6"><span style="line-height: 18px;">The
most advanced tendering portal</span></font><br>
</p>
<p style="font-size: 13px;"><font color="#5c5c5c" face="verdana, geneva" size="5"><span style="line-height: 18px;">Facilitating a faster procurement cycle!</span></font><br>
</p>
<p style="color: rgb(92, 92, 92); font-family: Verdana, Arial, Helvetica, sans-serif; text-align: center; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 18px; text-transform: none; white-space: normal; word-spacing: 0px; width: 80%;"><font size="3">Your
potential contractors and
subcontractors will find the submission process easier and faster,
because they can access your documentation and send their responses via
your portal.</font></p>
<p style="color: rgb(92, 92, 92); font-family: Verdana, Arial, Helvetica, sans-serif; text-align: center; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 18px; text-transform: none; white-space: normal; word-spacing: 0px; width: 80%;"><font size="3">Increased
transparency! You?ll have
complete oversight over what?s happening during each step of the
tendering process.</font></p>
<p dir="ltr" style="font-size: 13px; line-height: 1.344; margin-top: 0pt; margin-bottom: 0pt; text-align: center;"><span style="font-size: 16px; font-family: Verdana; vertical-align: baseline; background-color: transparent;"><img src="files/1.jpg" alt="?Tendering" portal="" height="200"></span></p>
<p style="font-size: 13px;"><font face="verdana, geneva" size="6"><span style="line-height: 18px;">New Business Opportunities</span></font><br>
</p>
<p style="font-size: 13px;"><font color="#5c5c5c" face="verdana, geneva" size="5"><span style="line-height: 18px;">Search our server with our innovative
filters.</span></font></p>
<p style="color: rgb(92, 92, 92); font-family: Verdana, Arial, Helvetica, sans-serif; text-align: center; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 18px; text-transform: none; white-space: normal; word-spacing: 0px; width: 80%;"><font size="3">A
finger on the pulse of your sector! Our
daily email notifications will alert you to what?s going on in your
sector; for instance, who?s calling for tenders, who?s likely to be
seeking subcontractors, trends in procurement of your services, and so
on. Great market intelligence.</font></p>
<p dir="ltr" style="font-size: 13px; line-height: 1.344; margin-top: 0pt; margin-bottom: 0pt; text-align: center;"><span style="font-size: 16px; font-family: Arial; vertical-align: baseline; background-color: transparent;">&nbsp;</span><img src="files/3.jpg" alt="?Business" oppertunities="" height="200"></p>
<br>
</center>